header{
    background: white;
    padding: 0;
    border-bottom: 2px solid black;
}

a{
    color:blue
}

a:hover{
    background: blue;
    color: white;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}

nav {
    /* Ensure the nav container does not wrap its contents */
    display: flex;
    justify-content: space-between; /* Distribute items evenly across the container */
    align-items: center; /* Align items vertically in the center */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for the list items */
    flex-direction: row-reverse; /* Reverse the direction of the flex items */
  }
  
  nav ul li {
    /* Remove the display property from the li elements */
    margin-left: 1em; /* Add some margin between the list items */
  }
  
  nav ul li:first-child {
    margin-left: 0; /* Remove margin from the first list item */
  }

.log
{
    display: inline;
}