<div class="container">
    <div class="details">
      <form [formGroup]="loginGroup" (ngSubmit)="submit()" class="login-form">
        <h2>Login</h2>
  
        <div class="input-group">
          <label for="username">Username:</label>
          <input formControlName="username" type="text" id="username" placeholder="Enter username">
        </div>
  
        <div class="input-group">
          <label for="password">Password:</label>
          <input formControlName="password" type="password" id="password" placeholder="Enter password">
        </div>
  
        <button type="submit" class="login-button">Login</button>
  
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
  
      <div class="register">
        New user? &nbsp;
        <a routerLink="/register-page">Register here</a>
      </div>
    </div>
  </div>